@import "bootstrap/bootstrap.scss";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body
{
    background-image: url('../images/lightpaperfibers.png');
    border: 10px solid #fdfdfc;
    -webkit-font-smoothing: antialiased;
    @media (min-width: $screen-sm) {
        border: 20px solid #fdfdfc;
    }
}


.mainphoto {
    background: $gray-darker url('../images/es_hero_01.jpg') no-repeat left top;
    background-size: cover;
    height: 550px;
    color: #fff;
    padding-top: 100px;
    overflow: hidden;
    @media (min-width: $screen-sm) {
        padding-top: 170px;
        height: 772px;
    }

}  

.curly {
    font-family: "adobe-caslon-pro";
    font-size: 55px;
    font-style: italic;
    color: #f69788;
    display: block;
    margin: 0px;
    margin-top: 20px;
    line-height: 0.8;
    @media (min-width: $screen-sm) {
        font-size: 94px;
    }
}

h1 .big {
    font-family: "brandon-grotesque";
    font-size: 60px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    display: block;
    margin: 0px;
    line-height: 1;
    @media (min-width: $screen-sm) {
        font-size: 107px;
    }
}

.curlydate {
    font-family: "adobe-caslon-pro";
    font-size: 45px;
    font-weight: 800;
    color: #fff;
    display: block;
    margin: 0px;
    margin-top: 35px;
    letter-spacing: 0.05em;
    @media (min-width: $screen-sm) {
        font-size: 64px;
    }
}

.eng-heading {
    font-family: "adobe-caslon-pro";
    font-style: italic;
    color: #fff;
    text-transform: uppercase;
}

.eng-bodytext {
    font-family: "adobe-caslon-pro";
    font-style: italic;
}

.nauha {
    position: fixed;
    left: 50%;
    margin-left: -23px;
    top: 0px;
    width: 46px;
    height: 66px;
    background-image: url('../images/nauha.png');
    background-size: 100% 100%;
    z-index: 200;
    @media (min-width: $screen-sm) {
        left: 50%;
        margin-left: -46px;
        width: 92px;
        height: 132px;
    }
}

.main-text {
    padding-top: 10px;
    padding-bottom: 30px;
    position: relative;
    &:before {
        position: absolute;
        top: 0px;
        background: #fff;
        content: "";
        height: 3px;
        width: 200px;
        left: 50%;
        margin-left: -100px;
    }
    &:after {
        position: absolute;
        bottom: 0px;
        background: #fff;
        content: "";
        height: 3px;
        width: 200px;
        left: 50%;
        margin-left: -100px;
    }
    @media (min-width: $screen-sm) {
        padding-top: 30px;
        padding-bottom: 50px;
    }
}

.breathe {
    margin-bottom: 60px;
}

.liehu-image {
    background-image: url('../images/nauha_musta.png');
    left: 50%;
    margin-top: 30px;
    margin-bottom: 20px;
    top: 0px;
    width: 415px;
    height: 52px;
    display: inline-block;
}

.liehu {
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 12px;
    color: #fff;
}

.liehu_vanha {
    background: #000;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    display: inline-block;
    padding: 10px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 0px 3px #000;
    margin-bottom: 40px;
}

.main-content {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 40px;
    border: 3px solid #000;
    @media (min-width: $screen-sm) {
        margin-top: 20px;
        padding-top: 80px;
    }
}

.end-text {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    &:before {
        position: absolute;
        top: 0px;
        background: #000;
        content: "";
        height: 3px;
        width: 200px;
        left: 50%;
        margin-left: -100px;
    }
}

.heading-2 {
    text-transform: uppercase;
    font-weight: 800;
    color: #000;
}

.eng-heading-2 {
    font-family: "adobe-caslon-pro";
    font-style: italic;
    color: #000;
    text-transform: uppercase;
}

.heart-image {
    background-image: url('../images/heart.png');
    left: 50%;
    margin-top: 30px;
    top: 0px;
    width: 38px;
    height: 29px;
    display: inline-block;
}

.my-simple-gallery figure {
  display: block;
  float: left;
  margin-bottom: 20px;
}
.my-simple-gallery figcaption {
  display: none;
}

.my-simple-gallery img {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  max-width: 100%;
}

.my-simple-gallery .portrait img {
  max-width: none;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

a.photo-link {
  float: left;
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

